.Form {
  border: none;
  border-bottom: 2px #00ca18 solid;
}

.Button {
  border: none;
  background-color: #00ca18;
  color: black;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.Button:hover {
  cursor: pointer;
  background-color: black;
  color: #00ca18;
}
